<!-- template.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Generate Excel</title>
</head>
<body>
    <h1>Generate Excel</h1>
    <form action="{% url 'generate_excel_html' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="from_date">From Date:</label>
        <input type="date" name="from_date" required><br><br>
        
        <label for="to_date">To Date:</label>
        <input type="date" name="to_date" required><br><br>
        
        <input type="submit" value="Generate EXCEL">
    </form>
</body>
</html>
