<!DOCTYPE html>
<html>
<head>
    <title>User Registration</title>
</head>
<body>
    <h1>User Registration</h1>
    <form id="registrationForm">
        {% csrf_token %}
        <label for="empid">empid:</label>
        <input type="text" id="empid" name="empid" required><br>

        <label for="password">password:</label>
        <input type="text" id="password" name="password" required><br>
        <label for="entity_code">entity_code:</label>
        <input type="text" id="entity_code" name="entity_code" required><br>
        <label for="title">title:</label>
        <input type="text" id="title" name="title" required><br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="first_name">first_name:</label>
        <input type="text" id="first_name" name="first_name" required><br>

        <label for="last_name">last_name:</label>
        <input type="text" id="last_name" name="last_name" required><br>

        <label for="date_of_birth">date_of_birth:</label>
        <input type="date" id="date_of_birth" name="date_of_birth" required><br>


        <button type="submit">Register</button>
    </form>

    <div id="responseMessage"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Function to handle form submission
        $("#registrationForm").submit(function (event) {
            event.preventDefault();
            var form_data = $(this).serialize();
            $.ajax({
                type: "POST",
                url: "{% url 'recruitment:userlist' %}", // Replace with the actual API endpoint URL
                data: form_data,
                success: function (response) {
                    // Display success message
                    $("#responseMessage").html(response.data.response);
                    console.log(form_data);
                },
                error: function (xhr, status, error) {
                    // Display error message
                    var errorMsg = "Error: " + xhr.responseJSON.err_msg;
                    $("#responseMessage").html(errorMsg);
                }
            });
        });
    </script>
</body>
</html>